/* header.css - Estilos del encabezado */
header {
    position: relative; 
    z-index: 100;  
    width: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-right: 20px;
    width: 60px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #E0E0E0;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #9b5de5;
}
